<nav class="navbar navbar-inverse">  
 <div class="container-fluid">
   <div class="navbar-header">
        
    <a [routerLink] = "['/home']" class="navbar-brand"><b>SHOPUP</b></a>
     <div class="collapse navbar-collape">
       <ul class="navbar navbar-nav">
         <li>shopping list</li>
       </ul>
     </div>
  
        <a class="navbar-brand" *ngIf="authService.isAuthenticated()" [routerLink] = "['/home']"><em>ItemList</em></a>
        <a class="navbar-brand" *ngIf="authService.isAuthenticated()" [routerLink] = "['cart']"><em>ShoppingCART</em></a>
      
      </div>
    
      <ul class="nav navbar-nav navbar-right">
          <li><a  (click)="onLogout()" *ngIf="authService.isAuthenticated()" class="navbar-brand" [routerLink] = "['signin']">Log Out</a></li>
          <ng-template [ngIf]="!authService.isAuthenticated()">
              <li><a routerLink="/signup">Register</a></li>
              <li><a routerLink="/signin">Login</a></li>
            </ng-template>
         
          </ul>
    </div>
  </nav>
    