
<p class="text-info">
  Thanks for shopping at the ShopUp Store.<br />
  This is your shopping cart. Here you can edit the items, 
  go back to the store, clear the cart, or check out.
</p>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Item Name</th>
      <th>Price per Kg</th>
      <th>Quantity(In KiloGrams)</th>
      <th>Total</th>
      <th></th>
    
    </tr>
  </thead>
  <tbody>
      <h1 class="text-info" *ngIf = "IsPressed">Your cart is empty</h1>
    <tr *ngFor="let Item of cartList
     let i = index"
      >
      <td>{{i+1}}</td>
     
      <td>{{Item.item_name}}</td>
      <td>{{Item.item_price}}</td>
      <td>{{Item.Quantity}}</td>
      <td>{{Item.total}}</td>
      <td>
      <span class="glyphicon glyphicon-pencil" title="Edit Quantity" (click)="EditItem(Item,i)" ></span>
       
      </td>
      <span class="glyphicon glyphicon-trash" title="Remove item from cart" (click)="RemoveItem(Item,i)"></span>
      <td>
        
      </td>
     <td></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-default"(click)="OnBack()">
<span class="glyphicon glyphicon-chevron-left" >ContinueShopping</span>
</button>

<button  [disabled]="IsPressed" class="btn btn-default"(click)="GetTotalAmount()">
    <span class="glyphicon glyphicon-ok-sign">PlaceOrder</span>
    </button>
    <div id="print-section"> 
      <h1 *ngIf = "Showbill">BILL</h1>
    <table class="table table-hover" *ngIf="Showbill">
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>Item Name</th>
                <th>Price per Kg</th>
                <th>Quantity(In KiloGrams)</th>
                <th>Total</th>
                <th></th>
              
              </tr>
        </thead>
        <tbody>
            <h1 class="text-info" *ngIf = "IsPressed">Your cart is empty</h1>
           
                <tr *ngFor="let Item of cartList
                let i = index"
                 >
                 <td>{{i+1}}</td>
     
                 <td>{{Item.item_name}}</td>
                 <td>{{Item.item_price}}</td>
                 <td>{{Item.Quantity}}</td>
                 <td>{{Item.total}}</td>
                 <td>
                <div>
             
                  
                
                 </div>
               </tr>
             </tbody>
            
           </table>
           
           <div *ngIf = "Showbill">
           <h1>Total Amount To Pay : {{Bill}}</h1>
           
           </div>
              </div>
              <button class="btn btn-default" *ngIf = "Showbill" (click)="print()">Print Bill</button>
          
   
      
     
 
    
   
  

