.bg-img
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThVyIjBY_qS0NwBzYBOYIHYBCqrBhZ10HMF7LMClBZ0gJrIDDc");
    background-position: center;
    background-repeat: no-repeat; 
}