<div class="row">
  <div class="col-xs-12">
 <button class="btn-success"(click)="OnClickFruits()">
   Fruits
 </button>
 <button class="btn-success"(click)="OnClickVegetables()">
  Vegetables
</button>
  </div>
</div>
<hr>
<div class="row"*ngIf="Fruits">
    <table class="table table-bordered">
        <tr class="well">
            <td class="text-right" colspan="2">
                <div class="col-xs-16" *ngIf="Fruits">       
                    <app-single-item  *ngFor="let items of ShoppingListFruits"
                    [item] = "items"></app-single-item>    
                    
                </div>
            </td>
        </tr>
  </table>
      </div>
      <table class="table table-bordered"*ngIf="Vegetables">
          <tr class="well">
              <td class="text-right" colspan="2">
      <div class="col-xs-16" *ngIf="Vegetables">       
          <app-single-item  *ngFor="let items of ShoppingListVegetables"
          [item] = "items"             
          ></app-single-item>
        </div>
      </td>
  </tr>
</table>
         
